<div b-g3oq5ttayf="" class="container-fluid bg-dark px-0">
            <div b-g3oq5ttayf="" class="row gx-0">
                <div b-g3oq5ttayf="" class="col-lg-3 bg-dark d-none d-lg-block">
                    <a b-g3oq5ttayf="" href="index.html" class="navbar-brand w-100 h-100 m-0 p-0 d-flex align-items-center justify-content-center">
                        <h1 b-g3oq5ttayf="" class="m-0 text-primary text-uppercase">Otel</h1>
                    </a>
                </div>
                <div b-g3oq5ttayf="" class="col-lg-9">
                    
                    <nav b-g3oq5ttayf="" class="navbar navbar-expand-lg bg-dark navbar-dark p-3 p-lg-0">
                        <a b-g3oq5ttayf="" href="@Url.Action("Index","Home")" class="navbar-brand d-block d-lg-none">
                            <h1 b-g3oq5ttayf="" class="m-0 text-primary text-uppercase">Otel</h1>
                        </a>
                        <button b-g3oq5ttayf="" type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                            <span b-g3oq5ttayf="" class="navbar-toggler-icon"></span>
                        </button>
                        <div b-g3oq5ttayf="" class="collapse navbar-collapse justify-content-center" id="navbarCollapse">
                            <div b-g3oq5ttayf="" class="navbar-nav mr-auto py-0">
                                <a b-g3oq5ttayf="" href="@Url.Action("Index","Home")" class="nav-item nav-link active">Anasayfa</a>
                                <a b-g3oq5ttayf="" href="@Url.Action("AboutUs","Home")" class="nav-item nav-link">Hakkımızda</a>
                                <a b-g3oq5ttayf="" href="@Url.Action("Services","Home")" class="nav-item nav-link">Hizmetler</a>
                                <a b-g3oq5ttayf="" href="@Url.Action("Rooms","Home")" class="nav-item nav-link">Odalar</a>
                                <div b-g3oq5ttayf="" class="nav-item dropdown">
                                    <a b-g3oq5ttayf="" href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Sayfalar</a>
                                    <div b-g3oq5ttayf="" class="dropdown-menu rounded-0 m-0">
                                        <a b-g3oq5ttayf="" href="booking.html" class="dropdown-item">Kitaplar</a>
                                        <a b-g3oq5ttayf="" href="team.html" class="dropdown-item">Ekibimiz</a>
                                    </div>
                                </div>
                                <a b-g3oq5ttayf="" href="@Url.Action("Contact","Home")" class="nav-item nav-link">İletişim</a>
                            </div>
                            
                        </div>
                    </nav>
                </div>
            </div>
        </div>